In [1]:
#Q1. Discuss string slicing and provide examples.
#Ans. Python slicing is a method to obtaining a sub-string from the given string by slicing it respectively from start to end.

In [2]:
string1 = "I am a good student"
string1[0:4]

'I am'

In [3]:
string1[5:12]

'a good '

In [4]:
string1[0:]

'I am a good student'

In [5]:
string2 = "hello world!"

In [6]:
string2[0:5:1]

'hello'

In [7]:
string2[::1]

'hello world!'

In [8]:
string2[::2]

'hlowrd'

In [ ]:
#Q2. Explain the key features of lists in Python.
#Ans. Below are the key features of lists :-

In [ ]:
#a. List are ordered collection of items

In [9]:
#b. List is a collection of things, enclosed in [ ] and separated by commas.
type([])

list

In [12]:
#c. List is like a shopping bag which can store everthing, any data type.
grocery_list = ["Milk", "Orange", 1, 2.2, True, 3+5j]
type(grocery_list)

list

In [13]:
#d. Lists are mutable
grocery_list[0]

'Milk'

In [15]:
#Q3. Describe how to access, modify, and delete elements in a list with examples.
#Ans. As list are mutable then we can access, modify and delete the elements.
grocery_list

['Milk', 'Orange', 1, 2.2, True, (3+5j)]

In [16]:
grocery_list[0]

'Milk'

In [17]:
grocery_list[-1]

(3+5j)

In [18]:
grocery_list.append("Banana")

In [19]:
grocery_list

['Milk', 'Orange', 1, 2.2, True, (3+5j), 'Banana']

In [20]:
grocery_list.insert(1,"Bread")

In [21]:
grocery_list

['Milk', 'Bread', 'Orange', 1, 2.2, True, (3+5j), 'Banana']

In [22]:
grocery_list1 = ["Powder", "Sugar"]
grocery_list1.extend(grocery_list)

In [23]:
grocery_list1

['Powder', 'Sugar', 'Milk', 'Bread', 'Orange', 1, 2.2, True, (3+5j), 'Banana']

In [24]:
grocery_list1.remove("Bread")

In [25]:
grocery_list1

['Powder', 'Sugar', 'Milk', 'Orange', 1, 2.2, True, (3+5j), 'Banana']

In [26]:
#Q4. Compare and contrast tuples and lists with examples.
#Ans. #a. List are mutable but tuples are immutable.
      #b. In list the implication of iterations is Time-consuming than Tuples.
      #c. List consume more memory than Tuples.
      #d. List and Tuples both are allowing to access index, slicing & concatenation.

In [31]:
list = [1, 2, 3, 4]
list

list[0] = 9
list

[9, 2, 3, 4]

In [32]:
tuple = (1, 2, 3, 4)
tuple

(1, 2, 3, 4)

In [34]:
tuple(0) = 9

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (2438191383.py, line 1)

In [35]:
#Concetanation
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8]

list1 + list2

[1, 2, 3, 4, 5, 6, 7, 8]

In [36]:
tuple1 = (1, 2, 3, 4)
tuple2 = (5, 6, 7, 8)
tuple1 + tuple2

(1, 2, 3, 4, 5, 6, 7, 8)

In [38]:
list1 = [1, 2, 3, 4]
list1.append(9)
list1

[1, 2, 3, 4, 9]

In [39]:
tuple = (1, 2, 3, 4)
tuple.append(9)
tuple

AttributeError: 'tuple' object has no attribute 'append'

In [40]:
#Q5. Describe the key features of sets and provide examples of their use.
#Ans. #a. Sets are unordered and unique collection of elements.
      #b. Doesn't allow duplicate elements
      #c. Unordered >>> indexing will not work

In [41]:
s = {1, 2, 3, 4}
type(s)

set

In [42]:
list1 = [1, 2, 3, 2, "Apple", "Apple", "Banana", "Banana"]
list1

[1, 2, 3, 2, 'Apple', 'Apple', 'Banana', 'Banana']

In [43]:
s = set(list1)
s

{1, 2, 3, 'Apple', 'Banana'}

In [44]:
s(0)

TypeError: 'set' object is not callable

In [45]:
s(1)

TypeError: 'set' object is not callable

In [46]:
s

{1, 2, 3, 'Apple', 'Banana'}

In [47]:
s.add(1000)
s

{1, 1000, 2, 3, 'Apple', 'Banana'}

In [48]:
s.pop()
s

{1000, 2, 3, 'Apple', 'Banana'}

In [49]:
#Q6. Discuss the use cases of tuples and sets in Python programming.
#Ans. Tuple shows the same element but set shows unique element

In [50]:
#use case of tuple
tuple1 = (1, 2, 3, 2, "Apple", "Apple", "Banana", "Banana")
tuple1

(1, 2, 3, 2, 'Apple', 'Apple', 'Banana', 'Banana')

In [51]:
#use case of sets
set1 = {1, 2, 3, 2, "Apple", "Apple", "Banana", "Banana"}
set1

{1, 2, 3, 'Apple', 'Banana'}

In [52]:
print(tuple1*2)

(1, 2, 3, 2, 'Apple', 'Apple', 'Banana', 'Banana', 1, 2, 3, 2, 'Apple', 'Apple', 'Banana', 'Banana')

In [53]:
print(set1*2)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [54]:
#Q7. Describe how to add, modify, and delete items in a dictionary with examples.
#Ans. # Dictionary is a data structure that stores data as key value pair
      # Keys are unique and immutable

In [55]:
d = {"name":"Amrit", "email":"an@gmail.com", "contact": 123456}
d

{'name': 'Amrit', 'email': 'an@gmail.com', 'contact': 123456}

In [56]:
d["name"]

'Amrit'

In [67]:
d["name"] = "Japan" #>>>> Modify Name
d

{'name': 'Japan', 'email': 'an@gmail.com', 'contact': 123456}

In [68]:
d["address"] = "New Delhi"   #>>>>> Add
d

{'name': 'Japan',
 'email': 'an@gmail.com',
 'contact': 123456,
 'address': 'New Delhi'}

In [70]:
del d["address"]    #>>>>> Deletion

In [71]:
d

{'name': 'Japan', 'email': 'an@gmail.com', 'contact': 123456}

In [72]:
#Q8. Discuss the importance of dictionary keys being immutable and provide examples.

In [73]:
employee_records = {
    'E001': {'name': 'John Doe', 'Department': 'Engineering', 'Salary': 75000},
    'E002': {'name': 'John Smith', 'Department': 'Marketing', 'Salary': 65000},
    'E003': {'name': 'David Lee', 'Department': 'Finance', 'Salary': 80000},
}

In [74]:
type(employee_records)

dict

In [75]:
employee_records.get("E001")

{'name': 'John Doe', 'Department': 'Engineering', 'Salary': 75000}

In [76]:
employee_records.keys()

dict_keys(['E001', 'E002', 'E003'])

In [77]:
employee_records.values()

dict_values([{'name': 'John Doe', 'Department': 'Engineering', 'Salary': 75000}, {'name': 'John Smith', 'Department': 'Marketing', 'Salary': 65000}, {'name': 'David Lee', 'Department': 'Finance', 'Salary': 80000}])

In [78]:
employee_records.items()

dict_items([('E001', {'name': 'John Doe', 'Department': 'Engineering', 'Salary': 75000}), ('E002', {'name': 'John Smith', 'Department': 'Marketing', 'Salary': 65000}), ('E003', {'name': 'David Lee', 'Department': 'Finance', 'Salary': 80000})])

In [79]:
for key, value in employee_records.items():
    print(key, value)

E001 {'name': 'John Doe', 'Department': 'Engineering', 'Salary': 75000}
E002 {'name': 'John Smith', 'Department': 'Marketing', 'Salary': 65000}
E003 {'name': 'David Lee', 'Department': 'Finance', 'Salary': 80000}

In [80]:
for key in employee_records.keys():
    print(key)

E001
E002
E003